[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-chroma = "*"
langchain-ollama = "*"
beautifulsoup4 = "*"
langchain-community = "*"
pypdf2 = "*"
pypdf = "*"
csvloader = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
